.question-manage-section {
    color: var(--color-subtle);
    display: none;
  }
.question-manage-section.is-shown {
    display: block;
}
.selectSingle{
  display: none;
}
.selectSingle.is-shown{
  display: block;
}
.selectMore{
  display: none;
}
.selectMore.is-shown{
  display: block;
}
.fillblank{
  display: none;
}
.fillblank.is-shown{
  display: block;
}
.form{
  margin-top: 20px;
}
.selectblock{
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  margin-top: 20px;
  margin-bottom: 40px;
  height: 30px;
}
#selectLevel,
#selectType,
#selectClass{
  border-radius: 6px;
  /* padding: 8px; */
  background: #87a7b3;
  width: 180px;
  font-size: 16px;
  /* font-weight: 600; */
  text-align-last: center;
  height: 36px;
  color: white;
  box-shadow: 5px 5px 7px #c0c0c0;
}
textarea{
  border-radius: 5px;
  width: 500px;
  height: 100px;
  font-size: 16px;
  padding: 6px;
  border: 1px solid green;
}
.addop{
  background-color: white;
  color: black;
  font-size: 16px;
  border-radius: 5px;
  /* padding: 5px; */
  /* margin: 15px; */
  width: 150px;
  box-shadow: 0 2px 8px 0 rgba(0,0,0,0.2);
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  border: 1px solid #4ca1a3;
  margin-left: 260px;
  height: 30px;
}
.addop:hover{
  background-color: #4ca1a3; /* Green */
  color: white;
}
.titleop{
  display: flex;
  flex-direction: row;
}
.submit{
  margin-top: 16px;
  background-color: white;
  color: black;
  font-size: 16px;
  border-radius: 5px;
  padding: 5px;
  /* margin: 15px; */
  width: 150px;
  box-shadow: 0 2px 8px 0 rgba(0,0,0,0.2);
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  border: 1px solid #4ca1a3;
  margin-left: 350px;
}
.submit:hover{
  background-color: #4ca1a3; /* Green */
  color: white;
}
.oneoption{
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 16px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  background-color: #d8ebe4;
  width: 500px;
  padding: 10px;
  border-radius: 10px;
  justify-content: space-evenly;
}
.opinput{
  width: 300px;
  height: 30px;
  border-radius: 6px;
  border: 1px;
  padding: 10px;
}
.tip{
  color: red;
  font-size: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 999;
}
.isOrder{
  display: flex;
  flex-direction: row;
  align-items: center;
}