.question-manage-section {
    width: 340px;
    overflow-x: hidden;
    overflow-y: auto;
    color: var(--color-subtle);
    border-right: 1px solid var(--color-border);
    /* background-color: var(--color-bg); */
    display: none;
  }
.question-manage-section.is-shown {
    display: block;
}
.selectSingle{
  display: none;
}
.selectSingle.is-shown{
  display: block;
}
.selectMore{
  display: none;
}
.selectMore.is-shown{
  display: block;
}
.fillblank{
  display: none;
}
.fillblank.is-shown{
  display: block;
}