.class-manage-section {
    color: var(--color-subtle);
    /* background-color: var(--color-bg); */
    display: none;
  }
.class-manage-section.is-shown {
    display: block;
}
.class-section{
  color: var(--color-subtle);
  display: none;
}
.class-section.is-shown{
  display: block;
}
.addclass{
  display: block;
  padding: 20px;
  border-radius: 10px;
  margin: 25px;
  font-size: 20px;
}
.addclass.is-hidden{
  display: none;
}
.flexrow{
  display: flex;
  flex-flow: row;
  align-items: center;
}
.button-add{
  background-color: whitesmoke;
  color: black;
  font-size: 16px;
  border-radius: 5px 20px 20px 5px;
  padding: 5px;
  margin: 15px;
  width: 120px;
  box-shadow: 0 6px 20px 0 rgba(0,0,0,0.2);
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  border: 1px solid #4ca1a3;
  margin-left: 100px;
}
.button-add:hover{
  background-color: #4ca1a3; /* Green */
  color: white;
}
.ainput{
  display: flex;
  margin-top: 16px;
}
.addbtn{
  background-color: whitesmoke;
  color: black;
  font-size: 16px;
  border-radius: 5px 20px 20px 5px;
  padding: 5px;
  margin: 15px;
  width: 120px;
  box-shadow: 0 6px 20px 0 rgba(0,0,0,0.2);
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  border: 1px solid #4ca1a3;
  margin-left: 100px;
}
.addbtn:hover{
  background-color: #4ca1a3; /* Green */
  color: white;
}
.classinfo{
  display: flex;
  flex-direction: row;
  font-size: 18px;
  /* font-family: fantasy; */
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: bold;
  background: #79a3b1;
  color: white;
  padding: 16px;
  border-radius: 10px;
}
.classname{
  margin-left: 30px;
}
.line{
  height: 2px;
  background-color: #c5c5c5;
}
.studentinfo{
  display: flex;
  flex-direction: column;
}
.onestudent{
  display: grid;
  font-size: 18px;
  font-weight: 800;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  white-space: nowrap;
  background: #d3e0ea;
  border-radius: 10px;
  margin-top: 10px;
  padding-left: 16px;
}
.homework-title{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.addhomework-btn{
  margin-left: 30px;
}
.add-question-title{
  display: flex;
  flex-direction: row;
}
.workdata{
  padding: 10px;
  border: 1px solid #4ca1a3;
}
.workdata-title{
  display: flex;
  flex-direction: row;
  width: 200px;
  justify-content: space-between;
}
.workdata-content{
  display: flex;
  flex-direction: column;
  width: 800px;
}
.studentdid{
  display: none;
}
.studentdid.is-shown{
  display: flex;
}