.question-section{
    display: none;
}
.question-section.is-shown{
    display: block;
}
.chance-input{
    width: 40px;
    margin-right: -40px;
    margin-left: 40px;
}
.one-score{
    background: #f5f5f5;
    font-size: 16px;
    font-family: monospace;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 8px;
    border-radius: 6px;
    flex-wrap: wrap;
    width: max-content;
    display: grid;
    width: auto;
    margin-right: 30px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-left: 20px;
}